* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}
html {
  scroll-behavior: smooth;
}
/* #wrapper {
  width: 1476px;
  height: 889px;
  margin-top: 81px;
} */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: none;
  max-width: 1231px;
  padding-top: 81px;

  color: #013456;
}
.header_title {
  font-size: 40px;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 607px;
  height: 52px;
  font-size: 36px;
}
@media (min-width: 320px) {
  .header {
    border: 2px solid red;
    max-width: 100%;
    padding-top: 0;
  }
  .header_title {
    border: 2px solid red;
    font-size: 1.5rem;
    width: 300px;
  }
  .none {
    display: none;
  }
  .navhome {
    border: 2px solid red;
    transform: translate(150px, 0);
    font-size: 1.5rem;
  }
}

/* media query */
/* @media only screen and (min-width: 600px) {
} */
